$contentBackground: #3B3F50;
$contentColor: #dbdbdb;
$headerColor: #fff;
$secondFontColor: #dbdbdb;
$fillContentBackground: #FF4E33;
$buttonBackground: #E3AC00;
$firstGradientColor: #E3AC00;
$secondGradientColor: #922B53;
$mainBackgroundColor: #21232E;
$defaultFont: 'Source Sans Pro', sans-serif;
$defaultBorderRadius: 4px;
$defaultFontSize: 14px;
$defaultPadding: 16px;
$firstHeaderSize: 64px;
$secondHeaderSize: 32px;
$thirdHeaderSize: 20px;
$divMargin: 20px;
$headerFontWeight: 600;
$switchBtnBg: #dbdbdb;
$switchBtn: #21232E;
$mainImage: '../img/m-h-night.jpg';